<p id="notice"><%= notice %></p>

<%if @product.image? %>
  <%= image_tag @product.image.url(:main) %>
  <br />
<% end %>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @product.picture %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Specs:</strong>
  <%= @product.specs %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product.product_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @product.owner %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>


<%- unless current_user.favorite_products.exists?(id: @product.id) -%>
<%= link_to 'Add to favorites', favorite_products_path(product_id: @product), method: :create %>
<%- else -%>
<%= link_to 'Remove from favorites', favorite_product_path(@product), method: :delete %>
<%- end -%>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
