<p id="notice"><%= notice %></p>

<div class="modal-body row">
  <div class="col-md-6">
  <div class="product-image-container">
  <div class="product-image">
  <%if @product.image? %>
  
  <%= image_tag @product.image.url(:main) %>
    
  <% end %>
  </div>
  </div>
  </div>
  <div class="col-md-6">
    
    <div class="product-description-text">


 <h1><%= @product.name %></h1>
<div class="product-text">
<%= simple_format(@product.description) %>
</div>

<!-- <p>
  <strong>Picture:</strong>
  <%= @product.picture %>
</p> -->

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Specs:</strong>
  <%= simple_format(@product.specs) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product.product_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @product.owner %>
</p>


<p>
  <strong>Overall Rating:</strong> 
  <%= rating_for @product, "product_rating", disable_after_rate: true, imdb_avg: true %>
</p>


<p>
  <% if current_user %>
    <strong>My Rating:</strong> 
    <%= rating_for_user @product, current_user, "product_rating" %>
  <% end %>
</p>

<% if current_user %>
  <%- unless current_user.favorite_products.exists?(id: @product.id) -%>
    <%= link_to 'Add to favorites', favorite_products_path(product_id: @product), method: :create, :class=>"btn-sm btn-info" %>
  <%- else -%>
    <%= link_to 'Remove from favorites', favorite_product_path(@product), method: :delete, :class=>"btn-sm btn-warning" %>
  <%- end -%>
    <!-- <%= link_to 'Edit', edit_product_path(@product) %> |  -->
    <%= link_to 'Back', products_path, :class=>"btn-sm btn-default" %>
<% end %>


</div>




  </div>
</div>







<!-- <p>
  <strong>Rating:</strong>
  <%= @product.rating %>
  <br>
</p> -->
<div class="row">
  <div class="small-2 large-4 columns">
      <br>
      <br>
  </div>
</div>





